@import '/src/styles/utils.scss';
@import '/src/styles/variables.scss';

.RHFInput,
.RHFTextarea {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: px(4);

  div {
    width: 100%;
    padding-block: px(8);
  }

  input,
  textarea {
    all: initial;
    width: 100%;
    color: #333;
    padding-block: px(8);
    border-radius: px(8);
    padding-inline: px(12);
    box-sizing: border-box;
    background-color: #f9fafb;
    font-family: inherit;
    border: px(1) solid rgba(210, 213, 219);

    &::placeholder {
      color: #ddd;
    }
  }
}

.RHFCloseIcon {
  position: absolute;
  right: px(10);
  top: px(8);
  cursor: pointer;
}

.RHFTextarea {
  //height:100%;
  //min-height: px(400);

  textarea {
    //margin-bottom: px(85);
    min-height: 220px;
    max-height: 280px;
    //height: inherit;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    resize: none;
  }
}

.RHFHelperText {
  padding: 0;
  color: red;
  font-size: px(11);
  font-weight: 600;
  margin-top: px(6);
  padding-left: px(8);
  box-sizing: border-box;
}
