@import '/src/styles/utils.scss';
@import '/src/styles/variables.scss';

.button {
  width: 100%;
  padding: px(8);
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
  font-size: px(13);
  min-height: px(32);
  text-align: center;
  border-radius: px(8);
  font-family: inherit;
  box-sizing: border-box;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }

  // size
  &.small {
    width: px(80);
    height: px(40);
    font-size: px(13);
  }

  &.medium {
    width: px(232);
    height: px(36);
  }

  &.large {
    width: px(330);
    height: px(48);
    font-size: px(16);

    &:disabled {
      opacity: 1;
      @apply bg-gray-200;
    }
  }

  &[data-loading='true'] {
    pointer-events: none;
  }
}
