@mixin fontStyle($size, $weight, $spacing: $spacingDefalt) {
  font-size: px($size);
  font-style: normal;
  font-weight: $weight;
  letter-spacing: $spacing;
}

@mixin flexLayout(
  $direction: row,
  $justifyContent: center,
  $alignItems: center,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: px($gap);
}

/** truncate */
@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** pixel to rem */
@function px($px) {
  @return calc(($px / 16) * 1rem);
}

/** pixel to em */
@function em($px) {
  @return calc(($px / 16) * 1em);
}
