@import '/src/shared/styles/utils.scss';

// color variables
$primary-color: #64ff00;

:export {
  primaryColor: $primary-color;
}

/**
이렇게 사용 가능
// maps to root `/` URL
 
import variables from './variables.module.scss'
 
export default function Page() {
  return <h1 style={{ color: variables.primaryColor }}>Hello, Next.js!</h1>
}
*/

// styles
$borderColor: #e4e4e4;
$boxShadow: 0 px(4) px(8) 0 rgba(0, 0, 0, 8%);
