@import '/src/theme/variables.scss';
@import '/src/theme/utils.scss';

.drawerContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: #000000cc;
  display: flex;
  justify-content: center;
  z-index: 100;
  color: #000;

  &:has(.right) {
    justify-content: flex-end;
  }
  &:has(.left) {
    justify-content: flex-start;
  }
  &:has(.top) {
    align-items: flex-start;
  }
  &:has(.bottom) {
    align-items: flex-end;
  }

  .drawerBox {
    min-width: px(220);
    max-width: px(500);
    min-height: 100vh;
    animation: 0.2s rightIn ease forwards;
    background-color: $white;

    &.right {
      animation: 0.2s rightIn ease forwards;
    }
    &.left {
      animation: 0.2s leftIn ease forwards;
    }
    &.top {
      animation: 0.2s topIn ease forwards;
    }
    &.bottom {
      width: 100%;
      border-top-left-radius: px(32);
      border-top-right-radius: px(32);
      animation: 0.2s bottomIn ease forwards;
    }
  }

  // keyframes
  // right
  @keyframes rightIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes rightOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  // left
  @keyframes leftIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes leftOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  // top
  @keyframes topIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes topOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

  // bottom
  @keyframes bottomIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes bottomOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }
}
